
body {
    background-image: linear-gradient(90deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    transition-duration: 0.4s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textb {
    border: 4px solid #6dd5ed;
    border-radius: 9px;
    padding: 8px;
    margin: 15px 0px 15px 0px;
    font: bolder;
    font-size: larger;
    box-shadow: 5px 5px 15px rgb(10, 10, 10);
}

.labeln {
    font: bolder;
    font-size: 30px;
    padding:8px;
    margin: 15px 0px 15px 0px;
    color: white;

}

.divout {
    background-color: #393e46;
    height: auto;
    width: 50%;
    margin-top: 50px;
    margin-left: 350px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 0px 15px black;
    /* border: 2px solid black; */
    border-radius: 40px;
}

.btns {
    border-radius: 9px;
    padding: 13px;
    margin: 13px;
    font: bolder;
    font-size: 23px;
    transition: 0.4s ease-in;
    background-image: linear-gradient(#00b8d4 , #006064);
}

.btns:hover{
    color: white;
    background-color: #6dd5ed;
    width: 17%;
    height: 60px;
    box-shadow: 0px 0px 15px black;
}

.fh {
    text-align: center;
    color: #6dd5ed;
    font-size: 40px;
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 4px 4px 10px black;
}
